<clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-column [className]="'context-menu-column'"></clr-dg-column>
    <clr-dg-column>Employee Name</clr-dg-column>
    <clr-dg-column>Employee Id</clr-dg-column>
    <clr-dg-column>Designation</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Phone</clr-dg-column>
    <clr-dg-column>Manager</clr-dg-column>
    @for (emp of employees$ | async; track emp.name) {
    <clr-dg-row [clrDgItem]="emp">
        <clr-dg-cell [className]="'context-menu-column'">
            <app-context-menu [data]="emp" [iconShape]="'ellipsis-vertical'"></app-context-menu>
        </clr-dg-cell>
        <clr-dg-cell>{{ emp.name }}</clr-dg-cell>
        <clr-dg-cell>{{ emp.id }}</clr-dg-cell>
        <clr-dg-cell>{{ emp.designation }}</clr-dg-cell>
        <clr-dg-cell>{{ emp.email }}</clr-dg-cell>
        <clr-dg-cell>{{ emp.phone }}</clr-dg-cell>
        <clr-dg-cell>{{ emp.reports_to }}</clr-dg-cell>
    </clr-dg-row>
    }
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Employees per page</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} employees
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

@if (selected.length > 0) {
Selected employees: <span *ngFor="let emp of selected; let last = last">{{ emp.name }}<span [hidden]="last">, </span></span>
}