<form clrForm clrLayout="horizontal" [formGroup]="empForm" class="emp-form" >
    <clr-modal [(clrModalOpen)]="openAddReporteeModal" (clrModalOpenChange)="dismissModal()">
        <h4 class="modal-title">Add New Reportee</h4>
        <div class="modal-body">
            <p> Add new employee who will report directly to this person. Provide details like name, designation, email and phone to create their profile in orgnization chart.</p>
            <!-- Manager Name -->
            <clr-input-container>
                <label class="clr-col-md-4">Manager Name</label>
                <label style="opacity: 0.6;" class="clr-col-md-8">{{ employee.name }}</label>
            </clr-input-container>
            <!-- Employee Name -->
            <clr-input-container>
                <label for="employee-name" class="clr-col-md-4">Employee Name</label>
                <input clrInput type="text" class="clr-col-md-8 w-90" formControlName="name" name="employee-name"
                    placeholder="Enter Employee Name" id="employee-name" />
                <clr-control-error>This field is required</clr-control-error>
            </clr-input-container>
            <!-- Designation -->
            <clr-select-container>
                <label for="designation" class="clr-col-md-4">Designation</label>
                <select clrSelect name="designation" id="designation" formControlName="designation" required
                    class="clr-col-md-8 w-90">
                    <option value="" selected disabled>Select Employee Designation</option>
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                </select>
                <clr-control-error>This field is required</clr-control-error>
            </clr-select-container>
            <!-- Email ID -->
            <clr-input-container>
                <label for="emp-email" class="clr-col-md-4">Employee Email ID</label>
                <input type="email" clrInput class="clr-col-md-8 w-90" formControlName="email"
                    placeholder="Enter Email ID" id="emp-email" />
                <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Must be a valid email id</clr-control-error>
            </clr-input-container>
            <!-- Phone Number -->
            <clr-input-container>
                <label for="phone" class="clr-col-md-4">Phone Number</label>
                <input clrInput type="tel" class="clr-col-md-8 w-90" formControlName="phone" name="phone"
                    placeholder="Enter Phone Number" id="phone" />
                <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
            </clr-input-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="dismissModal()">CANCEL</button>
            <button type="submit" class="btn btn-primary" (click)="addNewReportee()">{{ mode === 'add' ? 'ADD' : 'UPDATE'}} REPORTEE</button>
        </div>
    </clr-modal>
</form>