<form clrForm clrLayout="horizontal" [formGroup]="empForm" class="emp-form" >
    <clr-modal [(clrModalOpen)]="openAddReporteeModal" (clrModalOpenChange)="dismissModal()">
        <h4 class="modal-title">Add New Reportee</h4>
        <div class="modal-body">
            <p> Add new employee who will report directly to this person. Provide details like name, designation, email and phone to create their profile in orgnization chart.</p>
            <!-- Manager Name -->
            <clr-input-container>
                <label class="clr-col-md-4">Employee Name</label>
                <label style="opacity: 0.6;" class="clr-col-md-8">{{ employee.name }}</label>
            </clr-input-container>
            <!-- Designation -->
            <clr-select-container>
                <label for="manager" class="clr-col-md-4">Manager Name</label>
                <select clrSelect name="manager" id="manager" formControlName="manager" required
                    class="clr-col-md-8 w-90">
                    <option value="" selected disabled>Select New Reporting Manager</option>
                    @for (manager of managerList$ | async; track manager.id) {
                        <option [ngValue]="manager.id">{{ manager.name }}</option>
                    }
                </select>
                <clr-control-error>This field is required</clr-control-error>
            </clr-select-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="dismissModal()">CANCEL</button>
            <button type="submit" class="btn btn-primary" (click)="changeManager()">CHANGE REPORTING</button>
        </div>
    </clr-modal>
</form>