<clr-main-container>
  <clr-header>
    <div class="branding align-item-center">
        <cds-icon shape="world" ></cds-icon>
        <span class="title margin-left-10px">Hierarchical Orgnization Chart</span>
    </div>
  </clr-header>
  <div class="button-container">
    <div class="btn-group">
      <div class="radio btn">
        <input type="radio" name="btn-group-radios" id="btn-graph-view" value="graph-view" [(ngModel)]="selectedValue" (change)="changeView()"/>
        <label for="btn-graph-view">
          <cds-icon shape="users"></cds-icon>GRAPH VIEW</label>
      </div>
      <div class="radio btn">
        <input type="radio" name="btn-group-radios" id="btn-grid-view" value="grid-view" [(ngModel)]="selectedValue" (change)="changeView()"/>
        <label for="btn-grid-view">
          <cds-icon shape="grid-view"></cds-icon>GRID VIEW</label>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="content-area">
      <router-outlet />
    </div>
  </div>
</clr-main-container>